## Лабораторная работа №3
# Линейная регрессия на числовых параметрах

## Задача
Построить модель для прогнозирования цен на недвижимость в Бостоне
### Данные

В качестве данных для модели используется датасет с набором данных по цене недвижимости в Бостоне. В наборе учетны 13 параметров, влияющих на цену недвижимости. Все параметры числовые.

#### Инструменты решения
Решение будет в виде линейной регрессии. Теорию по линейной регрессии смотрите в лекции.
Для создания модели используется библиотека SkLearn.
Для обработки данных используется библиотека pandas

Загрузим библиотеки

In [32]:
import numpy as np
#загрузим pandas
import pandas as pd
#загрузим функцию для данных
from sklearn.datasets import load_boston
#загрузим регрессор
from sklearn.linear_model import LinearRegression
# загрузим набор для измерения качества модели и инструмент для кросс валидации
from sklearn import metrics 
from sklearn.model_selection import cross_validate, cross_val_score, train_test_split

Для начала нужно подготовить данные с помощью библиотеки Pandas

### Библиотека Pandas

### Series

<p>Конструкторв класса выглядит следующим образом</p>
pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

data – массив, словарь или скалярное значение, на базе которого будет построен Series;

index – список меток, который будет использоваться для доступа к элементам Series. Длина списка должна быть равна длине data;

dtype – объект numpy.dtype, определяющий тип данных;

copy – создает копию массива данных, если параметр равен True в ином случае ничего не делает.

Создание Series из списка

In [4]:
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Добавим индексы в виде букв

In [3]:
s2 = pd.Series([1, 2, 3, 4, 5], ['a','b', 'c','d','e'])
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

Создание Series из массива

In [5]:
arr1 = np.array([1,2,3,4])
s3 = pd.Series(arr1, ['a','b', 'c','d'])
print(s3)

a    1
b    2
c    3
d    4
dtype: int32

Обращение к элементу Series

In [6]:
el1 = s3[0]
print (el1)

1

Обращение к индексу элемента

In [9]:
el1index = s3.index[0]
print (el1index)

a

Выбор первых 2 элементов

In [10]:
elements2 = s3[:2]
print (elements2)

a    1
b    2
dtype: int32

### DataFrame

DataFrame представляет собой набор Series, а проще его представить как таблицу.
**Конструктор класса DataFrame выглядит так:**

class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
* data – массив ndarray, словарь (dict) или другой DataFrame;

* index – список меток для записей (имена строк таблицы);

* columns – список меток для полей (имена столбцов таблицы);

* dtype – объект numpy.dtype, определяющий тип данных;

* copy – создает копию массива данных, если параметр равен True в ином случае ничего не делает.

<p>Структуру DataFrame можно создать на базе:</p>

* словаря (dict) в качестве элементов которого должны выступать: одномерные ndarray, списки, другие словари, структуры Series;
* двумерные ndarray;
* структуры Series;
* структурированные ndarray;
* другие DataFrame.

Создание на основе словаря из Series

In [33]:
d = {"price":pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),
     "count": pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)

print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

Выведем индексы

In [34]:
print(df1.index)

Index(['v1', 'v2', 'v3'], dtype='object')

Выведем колонки

In [14]:
print(df1.columns)

Index(['price', 'count'], dtype='object')

Создание на основе словаря из массивов

In [2]:
d2 = {"price":np.array([1, 2, 3]),
       "count": np.array([10, 12, 7])}
df2 = pd.DataFrame(d2, index = ['v1', 'v2', 'v3'])
print (df2)

    price  count
v1      1     10
v2      2     12
v3      3      7

Создание из двумерного массива

In [28]:
nda1 = np.array([[1, 2, 3], [10, 20, 30]])
df3 = pd.DataFrame(nda1, columns = ['a','b','c'], index = ['a1','a2'])
print (df3)

     a   b   c
a1   1   2   3
a2  10  20  30

#### Работа с DataFrame

Выбор столбца

In [20]:
print (df3['a'])

a1     1
a2    10
Name: a, dtype: int32

Выбор строки по индексу

In [22]:
print (df3.loc['a1'])

a    1
b    2
c    3
Name: a1, dtype: int32

Выбор строки по номеру

In [23]:
print (df3.iloc[1])

a    10
b    20
c    30
Name: a2, dtype: int32

Добавление нового столбца

In [29]:
df3['d'] =[5,6]
print (df3)

     a   b   c  d
a1   1   2   3  5
a2  10  20  30  6

Выбор нескольких стоблцов

In [30]:
df_slice = df3[['a','b']]
print (df_slice)

     a   b
a1   1   2
a2  10  20

Удаление столбца

In [32]:
df_new = df3.drop(['a'], axis = 1)
print (df_new)

     b   c  d
a1   2   3  5
a2  20  30  6

Здесь первым аргументом идет список удаляемых элементов, потом указывается что удаляется 1- столбец, 0- строка. Если не указывать значение аргумента inplace, то в исходном DataFrame ничего не измениться

In [33]:
print(df3)

     a   b   c  d
a1   1   2   3  5
a2  10  20  30  6

Укажем inplace = True

In [34]:
df3.drop(['a'], axis = 1, inplace = True)
print (df3)

     b   c  d
a1   2   3  5
a2  20  30  6

## Задание 1

Считайте данные с помощью load_boston()

In [52]:
boston = load_boston()

В поле data содержаться параметры модели, в поле feature_names содержаться имена полей данных, в поле target содержится целевая переменная. 
Рассмотрите тип скачанных данных и создайте DatаFrame с именем df из данных load_boston

In [53]:
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df['TARGET'] = boston.target
print(df)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT  TARGET
0       15.3  396.90   4.98    24.0
1       17.8  396.90   9.14    21.6
2       17.8  392.83   4.03    34.7
3       18.7  394.63   2.94    33.4
4       18.7  396.90   5.33    36.2
..       ...     ...    ...     ...
501     21.0  391.99   9.67    22.4
502     21.0  396.90   9.08    20.6
503     21.0  396.90   5.64    23.9
504     21.0  393.45   6.48    22.0
505     21.0  396.90   7.88    11.9

[506 rows x 14 columns]

Выведите первые 10 строк полученного DataFrame с помощью функции head()

In [54]:
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARGET
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9

Выделите из полученного DataFrame параметры модели в переменную X, а целевую переменную в Y

In [55]:
# df_X = pd.DataFrame(boston.data, columns = boston.feature_names)
# df_Y = pd.DataFrame(boston.target, columns = 'TARGET')

X = df[['CRIM', 'ZN',  'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]
Y =df[['TARGET']]
print(X)
print(Y)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]
     TARGET
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
..      ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9

[506 rows x 1 columns]

Выделите первые 300 записей выборки в обучающую часть, а оставшиеся в тестовую

In [57]:
x_train = X[:300]
x_test = X[300:] 
y_train = Y[:300]
y_test = Y[300:]
print("x_train = \n", x_train)
print("x_test = \n", x_test)
print("y_train = \n", y_train)
print("y_test = \n", y_test)

x_train =
         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
295  0.12932   0.0  13.92   0.0  0.437  6.678  31.1  5.9604  4.0  289.0
296  0.05372   0.0  13.92   0.0  0.437  6.549  51.0  5.9604  4.0  289.0
297  0.14103   0.0  13.92   0.0  0.437  5.790  58.0  6.3200  4.0  289.0
298  0.06466  70.0   2.24   0.0  0.400  6.345  20.1  7.8278  5.0  358.0
299  0.05561  70.0   2.24   0.0  0.400  7.041  10.0  7.8278  5.0  358.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
295     16.0  396.90   6.27
296     16.0  392.85   7.39
297     16.0  396.90  15.84
298     14.8  368.24   4.97
299     14.8  371.58   4.74

[300 rows x 13 columns]
x_test =
         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
300  0.04417  70.0   2.24   0.0  0.400  6.871  47.4  7.8278  5.0  358.0
301  0.03537  34.0   6.09   0.0  0.433  6.590  40.4  5.4917  7.0  329.0
302  0.09266  34.0   6.09   0.0  0.433  6.495  18.4  5.4917  7.0  329.0
303  0.10000  34.0   6.09   0.0  0.433  6.982  17.7  5.4917  7.0  329.0
304  0.05515  33.0   2.18   0.0  0.472  7.236  41.1  4.0220  7.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
300     14.8  390.86   6.07
301     16.1  395.75   9.50
302     16.1  383.61   8.67
303     16.1  390.43   4.86
304     18.4  393.68   6.93
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[206 rows x 13 columns]
y_train =
      TARGET
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
..      ...
295    28.6
296    27.1
297    20.3
298    22.5
299    29.0

[300 rows x 1 columns]
y_test =
      TARGET
300    24.8
301    22.0
302    26.4
303    33.1
304    36.1
..      ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9

[206 rows x 1 columns]

### Регрессия

Принципы и задачи регрессии изложены в лекции. 
Построение модели регрессии заключается в вычислении весов регрессии. 
Для построения модели используется классы регрессоров из библиотеки SKLearn
В этой работе мы будем использовать линейный регрессор, подробная информация о нем представлена здесь https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

**Алгоритм работы с регрессорами:**
* создаем экземпляр класса регрессора
* обучаем его на обучающей части выборки с помощью метода fit()
* получаем веса модели с помощью метода coef_
* оцениваем качество модели с помощью бибилиотеки metrics

## Задание 2

Создайте экземпляр класса LinearRegression() и обучите его на обучающей части выборки.

In [67]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Получите веса модели и выведите их на печать

In [68]:
regressor.coef_

array([[ 1.20125417,  0.01484179,  0.02355189,  0.60206504, -8.82764179,
         9.1306223 , -0.04735918, -1.01328587,  0.16786579, -0.01456734,
        -0.64183404,  0.01677883, -0.10976398]])

Получите значения цены на недвижимость, используя тестовую часть выборки с помощью метода predict(). Этот метод в качестве едиственного аргумента принимает параметры модели, на которых делается расчет значений модели.

In [71]:
a = reg.predict(x_test)
a

array([[ 29.79108248],
       [ 28.80787418],
       [ 28.9385959 ],
       [ 33.95980998],
       [ 36.06473243],
       [ 30.03397333],
       [ 37.34956465],
       [ 31.97991057],
       [ 27.53105913],
       [ 21.19042774],
       [ 16.18684563],
       [ 25.13904357],
       [ 20.98289376],
       [ 23.50677739],
       [ 25.70499407],
       [ 17.57145217],
       [ 18.3970349 ],
       [ 17.98149659],
       [ 24.951302  ],
       [ 22.26255121],
       [ 25.16719139],
       [ 24.66896958],
       [ 21.74805928],
       [ 16.93098947],
       [ 25.78838644],
       [ 26.31423203],
       [ 24.62584001],
       [ 21.03017255],
       [ 19.65141755],
       [ 24.47309949],
       [ 21.03958307],
       [ 18.62206487],
       [ 21.78419616],
       [ 23.08462718],
       [ 22.87209402],
       [ 21.03847382],
       [ 19.50701896],
       [ 18.6024124 ],
       [ 22.21992535],
       [ 21.06471166],
       [ 20.34633584],
       [ 33.02121376],
       [ 23.04800162],
       [ 26.94770651],
       [ 29.30851627],
       [ 16.95826468],
       [ 15.16802008],
       [ 24.68573236],
       [ 27.31693513],
       [ 25.82438955],
       [ 21.40408183],
       [ 21.07312976],
       [ 15.65204281],
       [ 25.97952346],
       [ 12.40687692],
       [ 15.24836432],
       [ 28.34657182],
       [ 24.46977391],
       [ 24.05158988],
       [ 22.28941428],
       [ 25.17549549],
       [ 21.96148768],
       [ 14.5515092 ],
       [ 19.42233148],
       [ 47.5050814 ],
       [  0.40978875],
       [ 10.46842116],
       [  9.80898775],
       [ 14.93849732],
       [ 32.18064909],
       [ 36.75303085],
       [ 30.8417175 ],
       [ 27.1417048 ],
       [ 18.5476307 ],
       [ 20.09915072],
       [ 53.00714933],
       [ 40.29839513],
       [ 35.57231524],
       [ 48.22496693],
       [ 39.82307145],
       [132.95341645],
       [ 40.40748396],
       [ 22.52419975],
       [ 20.88571864],
       [ 22.8750237 ],
       [ 28.77360152],
       [ 32.32094608],
       [ 33.37827605],
       [ 21.5348619 ],
       [ 20.15177818],
       [ 21.92998931],
       [ 23.00291768],
       [ 20.55259263],
       [ 28.99558759],
       [ 31.64582376],
       [ 31.09653058],
       [ 27.09444006],
       [ 23.03121729],
       [ 56.18722136],
       [ 25.79527228],
       [ 45.39822648],
       [ 36.38616352],
       [ 30.95522696],
       [ 40.12157289],
       [ 60.50913168],
       [ 94.50733439],
       [ 23.95952291],
       [ 27.33457912],
       [ 20.57029327],
       [ 38.64312539],
       [ 70.87690751],
       [ 33.75481066],
       [ 19.3719257 ],
       [ 40.59919411],
       [ 50.49097077],
       [ 34.53894621],
       [ 29.7204627 ],
       [ 36.30855809],
       [ 97.5692079 ],
       [ 32.42348771],
       [ 31.98574511],
       [ 23.55765112],
       [ 27.22964616],
       [ 19.56901812],
       [ 18.35006429],
       [ 27.27981723],
       [ 26.08072193],
       [ 58.37155595],
       [ 22.39127819],
       [ 24.72029322],
       [ 25.70211771],
       [ 31.3317386 ],
       [ 25.18947637],
       [ 21.9548242 ],
       [ 29.76351673],
       [ 29.44546134],
       [ 31.20443829],
       [ 27.83708383],
       [ 24.89243679],
       [ 23.37454302],
       [ 40.34139565],
       [ 30.6657438 ],
       [ 24.49721818],
       [ 31.71990667],
       [ 26.61440657],
       [ 26.23687774],
       [ 25.02527752],
       [ 29.76632969],
       [ 28.47760201],
       [ 26.84175885],
       [ 24.13800865],
       [ 27.37315271],
       [ 24.52321243],
       [ 37.78649662],
       [ 27.02634668],
       [ 20.6803365 ],
       [ 14.57911712],
       [ 18.725208  ],
       [ 25.94090249],
       [ 25.0831125 ],
       [ 25.64528732],
       [ 23.91974551],
       [ 27.18936669],
       [ 27.93697574],
       [ 28.82402547],
       [ 18.66006308],
       [ 14.05264982],
       [ 20.52576801],
       [ 34.97457749],
       [ 31.63135686],
       [ 23.62081262],
       [ 24.20276074],
       [ 25.86653688],
       [ 32.52118424],
       [ 20.40691424],
       [ 23.76257261],
       [ 26.85209156],
       [ 26.83726245],
       [ 30.34677337],
       [ 36.90952031],
       [ 27.62868036],
       [ 32.00358955],
       [ 34.8086243 ],
       [ 20.07630874],
       [ 19.70367834],
       [ 25.14430054],
       [ 24.47622668],
       [ 23.51077365],
       [  8.68220625],
       [  6.65209622],
       [  2.6395936 ],
       [ 13.03673055],
       [ 14.1550307 ],
       [ 18.33989587],
       [ 20.83361497],
       [ 18.10574616],
       [ 13.26551   ],
       [ 17.7151051 ],
       [ 20.6048966 ],
       [ 15.78522312],
       [ 19.73321195],
       [ 25.54082888],
       [ 21.18204475],
       [ 28.83841101],
       [ 26.94137539],
       [ 20.0800139 ]])

Оцените полученную модель, рассчитав среднюю квадратичную ошибку, среднюю абсолютную ошибку и R2. Все эти величины рассчитываются соответствующими методами в классе metrics. Все они принимают 2 аргумента: 1 - истинные значения (для этого используем данные из тестовой выборки) и 2- предсказанные значения

In [74]:
mse_a = metrics.mean_squared_error(y_test, a)
mae_a = metrics.mean_absolute_error(y_test, a)
r2_a = r2_score(y_test, a)

print("mean_squared_error = ", mse_a)
print("mean_absolute_error =", mae_a)
print("r2_score =", r2_a)

mean_squared_error =  366.06553408770935
mean_absolute_error = 11.457601062614257
r2_score = -4.948152464723883

Получите значения цены на недвижимость, используя обучающую часть выборки и оцените качество модели

In [76]:
b = reg.predict(x_train)

mse_b = metrics.mean_squared_error(y_train, b)
mae_b = metrics.mean_absolute_error(y_train, b)
r2_b = metrics.r2_score(y_train, b)

print("mean_squared_error = ", mse_b)
print("mean_absolute_error", mae_b)
print("r2_score", r2_b)

mean_squared_error =  9.633874020539102
mean_absolute_error 2.403799080173058
r2_score 0.8776267065594971

### Кросс-валидация

Этот прием позволяет улучшить качество модели.
Суть ее заключается в разделении выборки на равные части (фолды) и использовании 1 части в качестве тестовой , а остальных в качестве обучающей части выборки. Модель обучается столько раз, на сколько частей разбивается выборка.
Но мы будем использовать просто случайным образом выбранные элементы.

<p>Для выборки случайных элементов из выборки используется функция <p/>
**cross_validation.train_test_split(X, Y, test_size = 0.3,random_state = 1)**
* X - параметры модели
* Y - целевая переменная
* test_size - размер тестовой выборки в долях

<p>Возращает</p> 
* 1- обучающую часть X
* 2- тестовую часть X
* 3- обучающую часть Y
* 4- тестовую часть Y

## Задание 3

Разбейте выборку по кросс валидации и обучите регрессор

In [78]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3,random_state = 2)
reg2 = LinearRegression()
reg2.fit(X_train, Y_train)
reg2.coef_

array([[-9.32979504e-02,  3.11368143e-02, -1.81754255e-02,
         3.19555762e+00, -1.51042926e+01,  3.50102142e+00,
         1.89769212e-02, -1.26552555e+00,  3.22156319e-01,
        -1.09456764e-02, -1.08963451e+00,  1.25396786e-02,
        -6.07618971e-01]])

Оцените качество модели на тестовой части выборки

In [79]:
c = reg2.predict(X_test)
mse_c = metrics.mean_squared_error(Y_test, c)
mae_c = metrics.mean_absolute_error(Y_test, c)
r2_c = metrics.r2_score(Y_test, c)

print("mean_squared_error = ", mse_c)
print("mean_absolute_error", mae_c)
print("r2_score", r2_c)

mean_squared_error =  23.038812866283735
mean_absolute_error 3.3929547821818087
r2_score 0.7330247212691907

Оцените качество модели на обучающей части выборки

In [80]:
d = reg2.predict(X_train)
mse_d = metrics.mean_squared_error(Y_train, d)
mae_d = metrics.mean_absolute_error(Y_train, d)
r2_d = metrics.r2_score(Y_train, d)

print("mean_squared_error = ", mse_d)
print("mean_absolute_error", mae_d)
print("r2_score", r2_d)

mean_squared_error =  22.067765599180124
mean_absolute_error 3.3630623701098497
r2_score 0.7360587999246775

Сделайте выводы о переобучении или недообучении модели

Получите веса модели и сохраните их в файл excel

In [88]:
weights = pd.DataFrame(reg2.coef_)
print(weights)

          0         1         2         3          4         5         6  \
0 -0.093298  0.031137 -0.018175  3.195558 -15.104293  3.501021  0.018977

          7         8         9        10       11        12
0 -1.265526  0.322156 -0.010946 -1.089635  0.01254 -0.607619

In [89]:
weights.to_excel('Laba 3.xlsx')